<h1><%= @story.title %></h1>
<p><%= @story.description %></p>

<%= link_to("物語情報を編集", edit_story_path(@story)) %>
<%= link_to("物語を削除する", story_path(@story.id), method: :delete, data:{confirm: '本当に削除しますか？削除後の復元はできません'}) %>

<div class="character-logo">
  <%= link_to("登場人物一覧", story_characters_path(@story), class: 'character-index-logo') %>
</div>

<%= link_to("back",stories_path) %>
<%= @story.user.id %>