<!DOCTYPE html>
<html>
  <head>
    <title>Profilebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
     <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        
        <h1 class="nav-logo"> 
          <%= link_to("ProfileBook", root_path) %>
        </h1>
        
        <ul class="nav navbar-nav navbar-right">
          
            <% if logged_in? %>
            
              <li><%= link_to(current_user.name, edit_user_path(current_user)) %></li>
              
              <li>
                <%= link_to("MyStory", stories_path) %>
              </li>
              <li>
                <%= link_to("ログアウト", logout_path, method: :delete) %>
              </li>
            
            <% else %>
            
              <li>
                <%= link_to("ProfileBookとは？", homes_help_path) %>
              </li>
              <li>
                <%= link_to("新規登録", new_user_path) %>
              </li>
              <li>
                <%= link_to("ログイン", login_path) %>
              </li>
            
            <% end %>
       
        </ul>
      </div>
    </nav>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
　　</script>
  </body>
</html>
